.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #282c34;
    padding: 10px 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navbar-logo {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  